table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 550px;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
tr{
  font-family: 'Chewy', cursive;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

#nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

header, footer {
    padding: 1em;


    clear: left;
    text-align: center;
}
header{
  color: black;
  background-image: url("http://www.w3schools.com/css/gradient_bg.png");
}

footer{

  margin-bottom: 0px;
  color: white;
  background-color: black;
}

.active {
    background-color: #4CAF50;
}

#nav li  {
    float: left;

}

#nav li  a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#nav li  a:hover {
    background-color: #111;
}

img{
  float: left;
}

#sendI{
  float:left;
  padding:50px;
  border-style:solid;
  border-width: 3px;
}
.footer-social { float: right; margin-top:0px;}
.footer-social li { display: inline;}
.footer-social span { margin-top: -20px;}
